<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SSFTiming" connectionString="Server=192.168.0.110;User Id=sa;Password=ssftiming;Database=ssftiming"/>
    <add name="OLA" connectionString="Server=192.168.0.110;User Id=live;Password=live;Database=skidosm2016"/>
  </connectionStrings>
</configuration>