<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SSFTiming" connectionString="Server=192.168.1.220;User Id=sa;Password=ssftiming;Database=ssftiming"/>
    <add name="OLA" connectionString="Server=192.168.1.76;User Id=root;Password=admin;Database=wocrelay"/>
    <!--<add name="SSFTiming" connectionString="Server=172.16.11.242;User Id=sa;Password=ssftiming;Database=ssftiming"/>
    <add name="OLA" connectionString="Server=172.16.15.127;User Id=root;Password=admin;Database=wocrelay"/>-->
  </connectionStrings>
</configuration>