<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SSFTiming" connectionString="Server=192.168.1.221;User Id=sa;Password=ssftiming;Database=ssftiming"/>
    <add name="OLA" connectionString="Server=192.168.1.240;User Id=root;Password=admin;Database=woc2019relay"/>
    
    <!--<add name="SSFTiming" connectionString="Server=172.16.11.242;User Id=sa;Password=ssftiming;Database=ssftiming"/>
    <add name="OLA" connectionString="Server=192.168.43.220;User Id=root;Password=admin;Database=woc2017relay"/>-->
  </connectionStrings>
</configuration>